body {
	background-image: url("../test-photo.jpeg");
	}
#container {
	position: fixed;
	top:260px;
	left:260px;
	width:50%;
	}

.footer {
text-align: center;
color: white;
position:fixed;
left:40%;
top:750px;
}