html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	}

#htmleditor {	
	width: 33%;
	height: 50%;
	display: inline-block;
	position: static;
	}

	#csseditor {	
	width: 33%;
	height: 50%;
	display: inline-block;
	}

#jseditor {	
	width: 33%;
	height: 50%;
	display: inline-block;
	}

#iframe {
	width: 50%;
	height: 100%;
	display: inline-block;
	position:relative;
	margin-top: 100px;
	}


	
#editors {
	position: relative;
	top:90px;
	width: auto;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	
	}
	
	
	
	#namer {
		height: 50%;
		position:relative;
		top: 85px;
		
		}
		
		
#headline {
	height: 4px;
	position:relative;
	top: 55px;
	}
	.oya {
	width: 33%;
	display: inline-block;
	text-align: center;
		}